<div style="height: 760px;">
  <mat-tab-group color="success">
    <mat-tab label="Humanos">
       <div id="sobre" class="classes">
         <div class="card">
           <div class="wrapper">
             <img src="../../assets/images/guerreiro_background.jpg" alt="" class="cover-img">
           </div>
           <img src="../../assets/images/guerreiro_title.png" alt="" class="title" >
           <img src="../../assets/images/guerreiro.png" alt="" class="character" style="width: 120% !important;">
         </div>
         <div class="card">
           <div class="wrapper">
             <img src="../../../assets/images/mago_background.jpg" alt="" class="cover-img">
            </div>
            <img src="../../assets/images/mago_title.png" alt="" class="title" >
            <img src="../../assets/images/mago.png" alt="" class="character" style="width: 120% !important;">
          </div>
          <div class="card">
            <div class="wrapper">
              <img src="../../assets/images/atiradora_background.jpg" alt="" class="cover-img">
            </div>
            <img src="../../assets/images/atiradora_title.png" alt="" class="title">
            <img src="../../assets/images/atiradora.png" alt="" class="character">
          </div>
      </div>
      </mat-tab>
    <mat-tab label="Selvagens">
      <div id="sobre" class="classes">
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/barbaro_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/barbaro_title.png" alt="" class="title" >
          <img src="../../assets/images/barbaro.png" alt="" class="character" style="width: 120% !important;">
        </div>
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/feiticeira_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/feiticeira_title.png" alt="" class="title" >
          <img src="../../assets/images/feiticeira.png" alt="" class="character" style="width: 120% !important;">
        </div>
     </div>
    </mat-tab>
    <mat-tab label="Alados">
      <div id="sobre" class="classes">
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/arqueiro_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/arqueiro_title.png" alt="" class="title" >
          <img src="../../assets/images/arqueiro.png" alt="" class="character" style="width: 120% !important;">
        </div>
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/sacerdote_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/sacerdote_title.png" alt="" class="title" >
          <img src="../../assets/images/sacerdote.png" alt="" class="character" style="width: 120% !important;">
        </div>
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/paladino_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/paladino_title.png" alt="" class="title" >
          <img src="../../assets/images/paladino.png" alt="" class="character" style="width: 120% !important;">
        </div>
     </div>
    </mat-tab>
    <mat-tab label="Abissais">
      <div id="sobre" class="classes">
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/mercenario_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/mercenario_title.png" alt="" class="title" >
          <img src="../../assets/images/mercenario.png" alt="" class="character" style="width: 120% !important;">
        </div>
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/espiritualista_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/espiritualista_title.png" alt="" class="title" >
          <img src="../../assets/images/espiritualista.png" alt="" class="character" style="width: 120% !important;">
        </div>
     </div>
    </mat-tab>
    <mat-tab label="Guardiões">
      <div id="sobre" class="classes">
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/arcano_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/arcano_title.png" alt="" class="title" >
          <img src="../../assets/images/arcano.png" alt="" class="character" style="width: 120% !important;">
        </div>
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/mistico_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/mistico_title.png" alt="" class="title" >
          <img src="../../assets/images/mistico.png" alt="" class="character" style="width: 120% !important;">
        </div>
     </div>
    </mat-tab>
    <mat-tab label="Sombrios">
      <div id="sobre" class="classes">
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/retalhador_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/retalhador_title.png" alt="" class="title" >
          <img src="../../assets/images/retalhador.png" alt="" class="character" style="width: 120% !important;">
        </div>
        <div class="card">
          <div class="wrapper">
            <img src="../../assets/images/tormentador_background.jpg" alt="" class="cover-img">
          </div>
          <img src="../../assets/images/tormentador_title.png" alt="" class="title" >
          <img src="../../assets/images/tormentador.png" alt="" class="character" style="width: 120% !important;">
        </div>
     </div>
    </mat-tab>
  </mat-tab-group>
</div>