<div style="background-color: red; height: 100px;">
  <div class="homeContent" id="inicio">
    <div class="firstContainer">
      <div style="padding-top: 560px; z-index: 2;">
        <div class="btnRedirect">
          <img (click)="onDownload()" src="../../assets/images/btn_download.png" alt="">
        </div>
        <div style="justify-content: center; display: flex; margin-bottom: 20px;">
          <div class="bannerInicio" >
            <h3 style="color: white; margin: 0;">PW IGNITE - Já disponível para downloads!</h3>
          </div>
        </div>
        <div style="padding: 0 90px 0 90px; justify-content: center; display: flex;">
          <img class="imageClass btnRedirect" src="../../assets/images/btn_discord.png" alt="">
          <img class="imageClass btnRedirect" src="../../assets/images/btn_facebook.png" alt="">
          <img class="btnRedirect" src="../../assets/images/btn_youtube.png" alt="">
        </div>
      </div>
      <div *ngIf="isShowImg" style="z-index: 0;">
        <img style="position: absolute; right: 0px; margin-top: 56px; " src="../../assets/images/paladino.png" alt="">
        <img style="position: absolute; left: 0px; margin-top: 120px; " src="../../assets/images/atiradora.png" alt="">
      </div>
    </div>
  </div>
  <div style="height: 800px; background-color: #202020; padding-top: 100px;" id="sobre">
    <div class="textClasses">
      <h2>Sobre o Servidor!</h2>
    </div>
    <div class="sobreContainer">
      <div class="sobreContent">
        <div class="sobreTextLeft">
          <div class="sobreTextContent">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
          </div>
        </div>
      </div>
      <div class="sobreContent">
        <div class="sobreTextRight">
          <div class="sobreTextContent">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, voluptate at perferendis odio sapiente dignissimos, architecto suscipit, sequi mollitia harum qui adipisci unde velit provident laborum reprehenderit optio? Obcaecati, incidunt.</p>
          </div>
        </div>
      </div>
      <div class="sobreButton">
        <a class="painelButton" mat-raised-button target="_blank">Saiba mais</a>
        <!-- <button mat-raised-button color="primary">Primary</button> -->
      </div>
    </div>
  </div>
  <div style="height: 760px; background-color: #202020; padding-top: 100px;" id="classes" class="classes">
    <div class="textClasses">
      <h2>CLASSES</h2>
    </div>
    <TabsClassesComponent style="border-top: solid white;"></TabsClassesComponent>
  </div>
  <div style="height: 800px; background-color: blue;"  id="eventos">
    <div style="background-color: #202020; width: 100%; height: 100%; padding-top: 100px;" >
      <div class="textClasses">
        <h2>Eventos no Servidor</h2>
      </div>
      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <h1>Lista de eventos disponiveis no nosso servidor, seleciona cada um deles para mais informações de horarios</h1>
      </div>
      <div class="events" style="gap: 30px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
          <div class="cardEventArtes artesMarciais">
              <div class="cardInfo">
                <div class="info">
                  <p>Dia:</p>
                  <p>Terça-Feira</p>
                </div>
                <div class="info">
                  <p>Horario de inicio:</p>
                  <p>21:00</p>
                </div>
                <div class="info">
                  <p>Horario de fim:</p>
                  <p>22:00</p>
                </div>
              </div>
          </div>
          <div class="cardEventArtes tw">
            <div class="cardInfo">
              <div class="info">
                <p>Dia:</p>
                <p>Terça-Feira</p>
              </div>
              <div class="info">
                <p>Horario de inicio:</p>
                <p>21:00</p>
              </div>
              <div class="info">
                <p>Horario de fim:</p>
                <p>22:00</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
